page-home {
  ion-navbar {
    .logo {
      position: relative;
      top: 4px;
    }
  }
  background-color: map-get($colors, secondary);
  background-image: url(../assets/imgs/background.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  ion-content {
    background: transparent !important;
    ion-list {
      background: transparent !important;
      ion-list-header {
        background-color: rgba(0, 0, 0, 0.4) !important;
      }
      ion-item {
        background-color: rgba(0, 0, 0, 0.2) !important;
        ion-input {
          background-color: rgba(255, 255, 255, 0.2);
        }
        .rules {
          font-size: small;
        }
        .roundTo {
          zoom: 1;
        }
      }
    }
  }
}
